<h1>Hej</h1>
<form action="/" method="POST">
  <h2 id="test">Logga in som administratör för nyhetsbrevet!</h2>
  <input name="email" type="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Lösenord" required />
  <button type="submit">Login</button>
</form>
